:root {
  --white-color: #ffffff;
  --black-color: rgba(0, 0, 0, 0.9);
  --logo-color: #0d6efd;
  --hover-color: #0b5ed7;
  --header-color: #f8f9fa;
  --bg-color: #1c375e;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: Lato, Arial, sans-serif;
}

/*=========================================== COMPONENTS ==============================================*/
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 120px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (min-width: 576px) {
  .container {
    width: 576px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*========================================================= Header ======================================================================*/
.page-header {
  height: 66px;
  background-color: var(--header-color);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}
@media screen and (min-width: 576px) {
  .header-container {
    padding: 8px 30px;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    padding: 8px 36px;
  }
}
@media screen and (min-width: 992px) {
  .header-container {
    padding: 8px 28px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    padding: 8px 42px;
  }
}
@media screen and (min-width: 1400px) {
  .header-container {
    padding: 8px 52px;
  }
}
.logo {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black-color);
}
.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--logo-color);
  color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 13px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:focus,
.btn:hover {
  background-color: var(--hover-color);
  color: var(--white-color);
}

/*  */

.hero-section {
  text-align: center;
  background-color: var(--bg-color);
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: linear-gradient(
      rgba(28, 55, 94, 0.5),
      rgba(28, 55, 94, 0.5)
    ),
    url(../images/bg-masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
}
.hero {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 48px;
  font-style: normal;
  font-family: Lato;
}

.form-control {
  min-height: calc(1.5em + 2rem + 2px);
  padding: 16px 20px;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  width: 100%;
  border: 2px solid #ced4da;
}
.form-btn {
  min-height: calc(1.5em + 2rem + 2px);
  padding: 16px 20px;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  margin-left: 24px;
  background-color: var(--logo-color);
  color: var(--white-color);
  border: none;
}

.hero-form {
  display: grid;
  grid-template-columns: 6fr 1fr;
}
@media screen and (min-width: 576px) {
  .hero-bg {
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 192px;
    padding-bottom: 192px;
  }
  .hero {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-bg {
    padding-left: 327px;
    padding-right: 327px;
  }
}
@media screen and (min-width: 1400px) {
  .hero-bg {
    padding-left: 382px;
    padding-right: 382px;
  }
}
/*  */
.success-message {
  display: none;
}
.hidden {
  display: none;
  color: white;
  margin-top: 8px;
}
input:required:invalid ~ button.form-btn {
  opacity: .65;
  pointer-events: none;
}

input:required:invalid ~ p#requiredMsg {
  display: none;
}

input:required:invalid:not(:placeholder-shown) ~ p#requiredMsg {
  display: block;
}

input:required:valid ~ p#succes {
  display: none;
}

input:required:valid:not(:placeholder-shown) + #submitButton:active ~ p#succes {
  display: block;
}


input:valid:placeholder-shown { 
  box-shadow: none;
  border: 1px solid #ced4da;
}
input:invalid:placeholder-shown { 
  box-shadow: none;
  border: 1px solid #ced4da;
  background-image: none;
}
input:invalid {
  outline: none;
  border-color: #dc3545;
  padding-right: calc(1.5em + 1.5rem);
  background-image: url(../images/im.png);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.375rem) center;
  background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}

input:valid {
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

}
/*  */

.description {
  padding: 112px 0;
  background-color: var(--header-color);
}
.ul-description {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.description-item {
  padding: 0 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.min-title {
  font-weight: 700;
  font-size: calc(1.3rem + 0.6vw);
  line-height: 1.2;
  text-align: center;
  color: var(--title-color);
  font-style: normal;
  font-family: Lato;
  margin-bottom: 8px;
}
.text-about {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  font-style: normal;
  font-family: Lato;
}
.description-icon {
  margin: 21px 0 19px 0;
  fill: #0d6efd;
}

@media screen and (min-width: 992px) {
  .ul-description {
    flex-direction: row;
  }
  .description-item {
    padding: 0 12px;
  }
}
@media screen and (min-width: 1200px) {
  .ul-description {
    justify-content: space-evenly;
  }
}

/*  */
.parent {
  padding: 0px;
  margin: 0px;
}
.element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.element:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.column {
  flex: 1;
}
.column:nth-child(even) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-into {
  padding: 48px;
}
@media screen and (min-width: 768px) {
  .column-into {
    padding: 112px;
  }
}
.img1 {
  background-image: url(../images/bg-showcase-1.jpg);
  min-height: 30rem;
  background-size: cover;
}
.img2 {
  background-image: url(../images/bg-showcase-2.jpg);
  min-height: 30rem;
  background-size: cover;
}
.img3 {
  background-image: url(../images/bg-showcase-3.jpg);
  min-height: 30rem;
  background-size: cover;
}

.elem-title {
  font-family: "Lato";
  font-size: calc(1.325rem + 0.9vw);
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 1.2;
}
.elem-descr {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .element {
    display: block;
  }
}

/*  */
.people-container {
  padding: 112px 0 160px 0;
  background-color: var(--header-color);
}

.people {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
@media screen and (min-width: 992px) {
  .people {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 24px;
  }
  .people-container {
    padding: 112px 0;
  }
}
.people-header {
  font-weight: 700;
  font-size: calc(1.325rem + 0.9vw);
  line-height: 1.2;
  text-align: center;
  color: var(--title-color);
  font-style: normal;
  font-family: Lato;
  margin-bottom: 48px;
}
.photo {
  width: 192px;
  height: 192px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 5px 5px 0px #adb5bd;
  margin-bottom: 16px;
}
.people-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-color);
  font-style: normal;
  font-family: Lato;
  margin-bottom: 8px;
}
.people-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-style: normal;
  font-family: Lato;
}
/*  */

.Sign-section {
  text-align: center;
  background-color: var(--bg-color);
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(28, 55, 94, 0.5),
      rgba(28, 55, 94, 0.5)
    ),
    url(../images/bg-masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
}
.sign-header {
  font-weight: 700;
  font-size: calc(1.325rem + 0.9vw);
  line-height: 1.2;
  text-align: center;
  color: var(--white-color);
  font-style: normal;
  font-family: Lato;
  margin-bottom: 24px;
}
.sign-form {
  display: grid;
  grid-template-columns: 6fr 1fr;
}
@media screen and (min-width: 576px) {
  .sign-bg {
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .Sign-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-bg {
    padding-left: 327px;
    padding-right: 327px;
  }
}
@media screen and (min-width: 1400px) {
  .sign-bg {
    padding-left: 382px;
    padding-right: 382px;
  }
}

/*  */

.footer-section {
  padding: 64px 0;
  background-color: var(--header-color);
}
.site {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.footer-descr {
  text-align: center;
  --bs-text-opacity: 1;
  color: #6c757d !important;
  font-size: 0.875em;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-container:not(:last-child) {
  margin-bottom: 24px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-link-icons {
  fill: var(--logo-color);
}
.footer-link-icons:focus,
.footer-link-icons:hover {
  fill: var(--hover-color);
}
.menu {
  font-family: "Lato";
  color: #0d6efd;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.menu:focus,
.menu:hover {
  color: var(--hover-color);
}

.list-inline-item {
  margin-right: 0.5rem;
}

@media screen and (min-width: 992px) {
  .footer-cont {
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
  }
  .footer-descr {
    text-align: left;
  }
  .footer-container {
    justify-content: center;
  }
  .footer-container:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .footer-cont {
    padding: 0 42px;
  }
}
@media screen and (min-width: 1400px) {
  .footer-cont {
    padding: 0 52px;
  }
}
